* body {
    margin: 50px;
    font-size: 20px;
}

h1 {

    font-family: "Agbalumo";

}


.hight {
    font: weight 100%;

    color: blue;
}

.width-half img {
    width: 100%;
    margin-left: 5%;
}

.width-half {
    width: 40%;
    float: left;
    margin-left: 5%;
}

.well {
    font-size: 50px;
}

.width {
    color: rgb(179, 29, 72);
    background-color: rgb(0, 255, 174);
    border-radius: 5px;

}


.boss img {
    background-image: url("./photo/image\ 1-2.png");
    background-repeat: no-repeat;
    float: left;
    border: 5px solid rgb(0, 255, 195);
    width: 100%;
    background-size: 40%;
    padding-top: 20px;
}

.link-botton {
    background-color: aqua;
    margin: 50px;
    text-decoration: none;
    border: 5px;
    padding: 5px 20px;
    border-radius: 5px 10px;

}

.width-half {

    width: 40%;
    float: left;
    margin-left: 5%;

}





.width-half img {
    background-image: url("./photo/image\ 1.png");
    background-repeat: no-repeat;
    float: right;
    border: 1px solid rgb(0, 255, 195);
    width: 100%;
    background-size: 40%;
    padding-top: 20px;
}