.boss {
    width: 100%;
}

.hight {
    color: blue;
}

.highlight {
    color: rgb(255, 0, 208);
}


.well {
    font-size: 50px;
}

.click-button {
    color: rgb(179, 29, 72);
    background-color: rgb(0, 255, 174);
    border-radius: 5px;
    padding: 10px;

}

.link-botton {
    background-color: aqua;
    margin: 50px;
    text-decoration: none;
    border: 5px;
    padding: 5px 20px;
    border-radius: 5px 10px;

}

.introduction {
    width: 100%;
}

.width-half {
    width: 40%;
    float: left;
    margin-left: 5%;
}

.exprience-area {
    display: block;
    width: 100%;
    background-color: rgb(255, 145, 0)
}

.width-half img {
    background-image: url("./photo/image\ 1.png");
    background-repeat: no-repeat;
    width: 100%;
    background-size: 40%;
    padding-top: 20px;
}