body {
    margin: 0;
    font-size: 20px;
}

h1 {

    font-family: "Agbalumo";

}

.link-botton {


    background-color: aqua;
    margin: 50px;
    text-decoration: wavy;
    border: 5px;
    padding: 5px 20px;
    border-radius: 5px 10px;
}


.hight {
    font-weight: 700px;

    color: blue;


}


.hight {
    color: blue;
}

.width-half {
    width: 40%;
    float: left;
    margin-left: 5%;
}

.width-half img {
    width: 100%;
}

.boss {
    background-image: url("./photo/babyboss2.png");
    background-repeat: no-repeat;
    float: left;
    border: 1px solid rgb(0, 255, 195);
    width: 100%;
    background-size: 50%;
    padding-top: 20px;
}

.width {
    color: rgb(75, 80, 176);
    background-color: rgb(0, 255, 174);
    margin: 10px;
    border-radius: 5px;
}

.well {
    font-size: 50px;
}